In [12]:
import pandas as pd
df = pd.read_csv("diabetes.csv")
df.columns = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']
df.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [21]:
df.tail()

     pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
763        10      101  76    48      180  32.9     0.171   63      0
764         2      122  70    27        0  36.8     0.340   27      0
765         5      121  72    23      112  26.2     0.245   30      0
766         1      126  60     0        0  30.1     0.349   47      1
767         1       93  70    31        0  30.4     0.315   23      0

In [13]:
from pycaret.classification import *
exp1 = setup(df, target = 'label')

In [14]:
compare_models()

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=5794, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [15]:
logistic = create_model('lr')

In [16]:
lr = create_model('lr')
tuned_lr = tune_model(lr)

In [17]:
tuned_lr = tune_model(lr, n_iter = 50)
tuned_lr = tune_model(lr, optimize = 'AUC') #default is 'Accuracy'

In [18]:
#ensembling-bagging
lr = create_model('lr')
lr_bagged = ensemble_model(lr)

In [19]:
#ensembling-bagging
lr = create_model('lr')
lr_boosting = ensemble_model(lr, method='Boosting')

In [20]:
evaluate_model(lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…